
body {
	background-image: url('../API/image.php?image=photoshare.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 95%;
	font-family: 'Arvo', serif;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	height: 100vh;
}

.code {
	display: none; 
}
.username, .password, .submit, .item13 {

}
.item {
   /*border: 1px dashed #000000;*/ /* good for debug */
}

.item2 {
	display: flex;
	margin-top: 5%;
	justify-content:center;
}
.item4 {
	
}

.item5 {
	justify-self: center;
}
.error {
	border: 3px solid #980000 !important;	
}

.item6 {
	font-family: 'Arvo', serif;
	font-size: 70%;
	border: none;
	color: black;
	background-color: white;
}

.form-group {
	position: relative;
	display: flex;
	width: 420px;
	color: grey;
	border-color: #ccc;
	border: 1px solid grey;
	border-radius: 6px 6px 6px 6px;
	margin-top: 10px;
}
.form-group:hover > span {
	color: black;
	background: #252F39; /*#386180;*/
	border-color: #000000;
	transition: background .3s ease, border .3s ease, color .3s ease;	
}
.form-group span:hover {

}

.form-group > span.left {
	border-radius: 6px 0 0 6px;
}

.form-group > span.right {
	border-radius: 0 6px 6px 0;
}

.form-group > span {
	padding: 8px 12px;
	font-size: 150%;
    font-weight: bold;
    line-height: 50px;
    background-color: #7e9aaf;
}

.form-field {
	padding-left: 10px;
	width: 100%;
	border: none;
	border-radius: 0 6px 6px 0;
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 150%;
	letter-spacing: 1em;
}
.username input, .password input {
	letter-spacing: 0.6em;
}
#textusername {
	
}
.item7 input {
	padding: 5px;
}

.item11 {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.subitem {

	border-radius: 5px;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;

  }