
body {
  background-image: url('../API/image.php?image=background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 95%;
  font-family: 'Arvo', serif;
}

.container {
	display: grid;
	grid-template-columns: 35% 28% 35%;
	grid-template-rows: 39% 18% 39%; 
	grid-gap: 1%;
	/*border: 1px solid #000;*/
	height: 100vh;
}

.box {
	border-radius: 10px;
	padding: 20px;
	font-size: 150%;
	/*border: 1px solid #000;*/
}

.e {
	background-color: rgba(255,255,255,0.7);
  	display: flex;
  	justify-content: center;
  	align-items: center;
	text-align: center;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}
.header {
	    grid-column: 1;
        grid-row: 1;
}
.content {
	grid-column: 1;
    grid-row: 2;
}
.content input#code {
	padding: 5px;
	border: none;
	font-size: 85%;
  background: 
    repeating-linear-gradient(90deg, 
        dimgrey 0, 
        dimgrey 1ch, 
        transparent 0, 
        transparent 1.5ch) 
      0 100%/100% 2px no-repeat;
  color: dimgrey;
  font: 1.1ch 'Arvo', serif;
  letter-spacing: 0.6ch;
}
.content input#code:hover {
	outline: none;
	color: dodgerblue;
}
.content input#code:focus {
	outline: none;
}
.content input#send {
	padding: 5px;
	background-color: #FFFFFF;
	margin-top: 30px;
	font: 1.1ch 'Arvo', serif;
	border-radius: 10px;
}
