
body {
	background-color: #3aafa9;
	font-family: LeagueGothic, Verdana;
	font-size: 150%;
	margin: 0;
}
@font-face {
	font-family: LeagueGothic;
	src: url("font/LeagueGothic-Regular.otf") format("opentype");
	font-weight: normal;
	
}
.container {
	display: flex;
	flex-flow: row;	
	min-height: 100vh;
	align-items: center;
/*	justify-content: center; */
    flex-direction: column;
}

.error {
	border: 3px solid #980000 !important;	
}
.form-group {
	position: relative;
	display: flex;
	color: #17242a;
	border-color: #17242a;
	border: 1px solid #17242a;
	border-radius: 6px 6px 6px 6px;
	margin-top: 10px;
}

.form-group:hover > span {
	color: #2b7a77;
	background: #17242a;
	transition: background .3s ease, border .3s ease, color .3s ease;	
}
.form-group span:hover {

}

.form-group > span.left {
	border-radius: 6px 0 0 6px;
}

.form-group > span.right {
	border-radius: 0 6px 6px 0;
}

.form-group > span {
	padding: 8px 12px;
	font-size: 150%;
    font-weight: bold;
    line-height: 50px;
    background-color: #2b7a77;
}

.form-field {
	padding-left: 10px;
	width: 100%;
	border: none;
	border-radius: 0 6px 6px 0;
	font-weight: bold;
	font-size: 100%;
	letter-spacing: 1em;
}
#login {
	border-radius: 6px 6px 6px 6px;	
	background-color: #2b7a77;
	text-transform: uppercase;
}
#login:hover {
	cursor: pointer;
}
.username input, .password input {
	letter-spacing: 0.6em;
}
.subitem {

}
nav {
	margin-bottom: 5%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
nav li {
	display: block;
	float: left;
	text-aling:center;
	padding: 8px 10px;
	background-color: #2b7a77;
}
nav li a {
	color: #fdfeff;
	text-decoration: none;
}
nav li:hover:not(.active) {
	background-color: #17242a;
}
.active {
  background-color: #295250;
}
#gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
  flex: 23%;
  max-width: 23%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 98%;
}