/vendor/
*.container
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.name
.project
.buildpath
composer.lock
composer.*
vendor/firebase/php-jwt/src/SignatureInvalidException.php
vendor/firebase/php-jwt/src/JWT.php
vendor/firebase/php-jwt/src/ExpiredException.php
vendor/firebase/php-jwt/src/BeforeValidException.php
vendor/firebase/php-jwt/composer.json
vendor/composer/installed.json
vendor/composer/ClassLoader.php
vendor/composer/autoload_static.php
vendor/composer/autoload_real.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_classmap.php
vendor/autoload.php
vendor/firebase/php-jwt/src/SignatureInvalidException.php
vendor/firebase/php-jwt/src/JWT.php
vendor/firebase/php-jwt/src/ExpiredException.php
vendor/firebase/php-jwt/src/BeforeValidException.php
vendor/firebase/php-jwt/composer.json
vendor/composer/installed.json
vendor/composer/ClassLoader.php
vendor/composer/autoload_static.php
vendor/composer/autoload_real.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_classmap.php
vendor/autoload.php
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/firebase/php-jwt/composer.json
vendor/firebase/php-jwt/src/BeforeValidException.php
vendor/firebase/php-jwt/src/ExpiredException.php
vendor/firebase/php-jwt/src/JWT.php
vendor/firebase/php-jwt/src/SignatureInvalidException.php
API/credentials.php
API/passwordHash.php
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.php.composer.core.prefs
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.php.ui.prefs
*.jpg
/data/images/qr/
