body {
	background-color: #3aafa9;
	font-family: LeagueGothic, Verdana;
	font-size: large;
	margin: 0;
	
}
@font-face {
	font-family: LeagueGothic;
	src: url("../../font/LeagueGothic-Regular.otf") format("opentype");
	font-weight: normal;
	
}

.container {
	display: flex;
	flex-flow: row;	
	min-height: 100vh;
}

.left {
	flex: 1;
	/*border: 1px dashed #000;*/
	max-width: 245px;
	border-right: 5px solid #2b7a77;
}

.right {
	width: 80%;
/*border: 1px dashed #000;*/
}

.subitem {
	margin: 2px;
/*border: 1px dashed #000;*/
}

.logo {
	text-align: center;
	
}
.content  {
	display: flex;
	font-size: 20px; 

}
.rightcontainer {
	margin-left: 3em;
	border-left: 5px solid #def2f1;

}
.secondsubitem {
	display: grid;
	height: 100%;
	margin-left: 25px;
}

.adduser input[type=text], .adduser input[type=password], input[type=number] {
	height: 20px;
	width: 225px;
	border: none;
	font-family: LeagueGothic, Verdana;
	font-size: 20px;
	margin-bottom: 5px;
	
}
.adduser label:hover {
	color: #def2f1;
}

.subitemheader {
	padding-left: 2px;
	margin-bottom: 5px;
}

.list {
	padding: 2px;
	border: none;
	overflow: hidden;
	width: 225px;
	font-family: LeagueGothic, Verdana;
	font-size: 20px;
}

#unusedcodelist, #usedcodelist {
	overflow: auto;
}

/*#submitRemoveUser, #submitEditUser, #submitCreateUser {*/
input[type=submit] {
	border: 1px solid #17242a;
	background-color: Transparent;
	outline: none;
	font-family: LeagueGothic, Verdana;
	text-transform:uppercase;
	font-size: 20px;
	margin-top: 5px;
}

#submitEditUser {
	display: none;
}

/*#submitRemoveUser:hover, #submitEditUser:hover, #submitCreateUser:hover {*/
input[type=submit]:hover {
	color: #def2f1;
	border: 1px solid #def2f1;	
}

#contentheader {
	color: #def2f1;
	font-size: 48px;
	letter-spacing:2px;
	margin-left: 25px;
	
}
.tools {
	text-align: center;
	border-bottom: 5px solid #2b7a77;
	margin: 0px;
}
.tools h2 {
	color: #def2f1;
	font-size: 48px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.subheader {
	color: #def2f1;
	font-size: 20px;
}

.navigation {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 200px;
	position: fixed;
	height: 100%;
	overflow: auto;

	
}
.navigation a {
	display: block;
	text-decoration: none;
  	color: #17242a;
	font-family: LeagueGothic, Verdana;
	font-size: 38px;
}
.navigation a:hover:not(.active) {
	color: #def2f1;
}